.container {
  max-width: 296px;
  padding: 0 4px;
  margin: 0 auto;
}
/* #region Section Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: solid red; */
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-studio {
  color: #2e2f42;
}

.header-list {
  display: none;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-list {
  display: none;
}

.address-link {
  color: #434455;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.header-menu-btn {
  max-width: 24px;
  max-height: 24px;
  padding: 3px 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  align-self: center;
}
/* #endregion Section Header */
/* #region Section Hero */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  margin: 0 auto;
  max-width: 320px;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: 0 auto 72px;
}
.hero-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* #endregion Section Hero */
/* #region Section Features */
.features {
  padding: 96px 0;
}
.features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 72px;
}
.features-item-icon {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
  display: none;
  align-items: center;
  justify-content: center;
}

.features-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.features-items-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* #endregion Section Features */
/* #region Section Team */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-picture {
  max-width: 288px;
}
.team-text-item-block {
  padding: 32px 0;
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-icon-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.team-icon-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon {
  fill: #f4f4fd;
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}
/* #endregion Section Team */
/* #region Portfolio */
.portfolio {
  background: #ffffff;
  padding: 96px 0;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.portfolio-item {
  background-color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-text-item-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* #endregion Portfolio */
/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-text {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: left;
}
.footer-media-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-icon-list-item {
  width: 40px;
  height: 40px;
}
.footer-icon-list-a {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-svg {
  fill: #f4f4fd;
}

.footer-icon-list-a:hover {
  background-color: #31d0aa;
}

.footer-icon-list-a:focus {
  background-color: #31d0aa;
}
.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-input {
  color: #fff;
  background-color: transparent;
  outline: none;
  width: 288px;
  height: 40px;
  padding-left: 16px;

  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-input::placeholder {
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-input:focus {
  border-color: #404bbf;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  padding: 8px 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background-color;

  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}
.footer-button:hover,
.footer-button: :focus {
  background-color: #404bbf;
}
.footer-button-icon {
  margin-left: 16px;
  fill: #fff;
}
/* #endregion Footer */
