button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
