@media screen and (min-width: 768px) {
  .container {
    max-width: 760px;
    padding: 0 12px;
  }

  /* #region Header */
  .logo {
    margin-right: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .current {
    display: block;
  }

  .current::after {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .header-nav {
    display: flex;
    width: auto;
    justify-content: space-between;
  }

  .header-menu-btn {
    display: none;
  }

  /* #endregion Header */
  /* #region Section Hero */
  .hero {
    padding: 112px 0;
    margin: 0 auto;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg_tabl@1x.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 36px;
  }
  /* #endregion Section Hero */
  /* #region Section Features */
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .features-items {
    width: calc((100% - 1 * 24px) / 2);
  }
  .features-title {
    text-align: left;
  }
  /* #endregion Section Features */
}
